{% extends 'homepage.html' %}



{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-md-9">
          {% for item in myrequest %}
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between flex-nowrap">
                    <span>Codigo de pedido: {{ item.service.Codigo }}</span>
                    <span>Ultimo estado = {{ item.estado.estado }}, Acualizado : {{ item.estado.fechaac }}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Origen = {{ item.service.Origen }} _______________________________________________________ Destino = {{ item.service.Destino }}</h5>
                    <p class="card-text">Son {{ item.service.NumPaquetes }} paquete(s) que contienen: {{ item.service.Descripcion }}</p>
                    <p class="card-text"> Presione mas detalles si quiere ver la ultima foto que el repartidor subio </p>
                    <button class="btn btn-primary mas-detalles-btn" data-codigo="{{ item.service.Codigo }}">Mas detalles</button>
                    <div class="row justify-content-center mt-5">
                        <div class="imagen-contenedor mt-3" style="display: none;">
                            <img src="" class="img-fluid" alt="Imagen del pedido">
                            <button class="btn btn-secondary mt-2 ocultar-imagen-btn">Mostrar menos</button>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
      </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $('.mas-detalles-btn').on('click', function() {
          var button = $(this);
          var cardBody = button.closest('.card-body');
          var imagenContenedor = cardBody.find('.imagen-contenedor');
          var codigo = button.data('codigo');

          $.ajax({
              url: "/get_imagen",
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ codigo: codigo }),
              success: function(response) {
                  var imgSrc = 'data:image/jpeg;base64,' + response.imagen_base64;
                  imagenContenedor.find('img').attr('src', imgSrc);
                  imagenContenedor.slideDown();
              },
              error: function(error) {
                  alert('Error al obtener la imagen del pedido');
              }
          });
      });

      $('.ocultar-imagen-btn').on('click', function() {
          var button = $(this);
          var imagenContenedor = button.closest('.imagen-contenedor');
          imagenContenedor.slideUp();
      });
  });
</script>

{% endblock content %}