{% extends 'homepage.html' %}



{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-9">
    {% for request in myrequest %}

    <div class="card">
        <div class="card-header">
           codigo de pedido : {{request.Codigo}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Origen = {{request.Origen}} , Destino = {{request.Destino}} </h5>
          <p class="card-text"> Son {{request.NumPaquetes}} pasquete(s) que contienen : {{request.Descripcion}}</p>
          <a href="#" class="btn btn-primary">Mas detalles</a>
        </div>
      </div>

    {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}